/* Position the image container (needed to position the left and right arrows) */
#slideshow {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
}
  
/* Hide the images by default */
.mySlides {
  display: none;
  height: 80%;
  max-width: 100%;
  text-align: center;
}
  
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  color: darkgray;
  font-size: 22px;
  text-decoration: none !important;
}

.prev {
  left: 47%;
}
  
.next {
  left: 51%;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Columns side by side */
.column {
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  float: left;
  overflow: hidden;
  width: 8.33%;
}
  
/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

.center-slide {
  max-width: 100%;
  height: 100%;
  margin: auto;
}