html, body {
    max-width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black;
    position: relative;
}

#vidcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    animation-duration: 0.5s;
    -vendor-animation-duration: 0.5s;
  }

  #vidcontainer > video {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
  }
  @media screen and (max-aspect-ratio: 1280/720) {
    #vidcontainer > video {
      height: 80%;
    }
  }
  @media screen and (min-aspect-ratio: 1280/720) {
    #vidcontainer > video {
      width: 100%;
    }
  }

#wrapper {
    background-color: black;
}

* {
    outline: none;
    margin: 0;
    padding: 0;
}
   
.imgbox {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #010101;
}

#indexPage {
    /* animation-delay: 0.2s;
    -vendor-animation-delay: 0.2s; */
    animation-duration: 2s;
    -vendor-animation-duration: 2s;
}
   
.center-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.arrowRight {
    width: 20px;
    height: 20px;
    border-top: 4px solid rgb(94, 90, 90);
    border-right: 4px solid rgb(94, 90, 90);
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 10px;
    border-radius: 15%;
    background-color: transparent; 
    outline: none;
}

   .arrowDown {
    width: 20px;
    height: 20px;
    border-top: 4px solid rgb(94, 90, 90);
    border-right: 4px solid rgb(94, 90, 90);
    border-left: none;
    border-bottom: none;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin: 10px;
    border-radius: 15%; 
    background-color: transparent; 
    outline: none;
}

.arrowLeft {
    width: 20px;
    height: 20px;
    border-top: 4px solid rgb(94, 90, 90);
    border-right: 4px solid rgb(94, 90, 90);
    border-left: none;
    border-bottom: none;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    margin: 10px;
    border-radius: 15%;
    background-color: transparent; 
    outline: none;
}

.arrowUp {
    width: 20px;
    height: 20px;
    border-top: 4px solid rgb(94, 90, 90);
    border-right: 4px solid rgb(94, 90, 90);
    border-left: none;
    border-bottom: none;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    margin: 10px;
    border-radius: 15%;
    background-color: transparent; 
    outline: none;
}

#hdrRight {
    color: #c9dfd3; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute; 
    right: 2%; 
    bottom: 47%; 
    transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
}

#hdrDown {
    color: #c9dfd3; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute; 
    right: 50%; 
    bottom: 4%;
}

#hdrLeft {
    color: #c9dfd3;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    position: absolute; 
    left: 2.5%; 
    top: 47%; 
    transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
}

#hdrUp {
    color: #c9dfd3; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute; 
    right: 50%; 
    top: 4%;
}

@media only screen and (min-width: 769px) {
    .arrowRight:hover {
        border-top: 4px solid rgb(226, 219, 219);
        border-right: 4px solid rgb(226, 219, 219);
    }

    .arrowDown:hover {
        border-top: 4px solid rgb(226, 219, 219);
        border-right: 4px solid rgb(226, 219, 219);
    }

    .arrowLeft:hover {
        border-top: 4px solid rgb(226, 219, 219);
        border-right: 4px solid rgb(226, 219, 219);
    }

    .arrowUp:hover {
        border-top: 4px solid rgb(226, 219, 219);
        border-right: 4px solid rgb(226, 219, 219);
    }
}

   .selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#p-container {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

#portfolios {
    clear:both; 
    width:100%; 
    height: 100%;
    text-align:center;
}

.divider{
    width:10%;
    height:auto;
    display:inline-block;
}

#p-resume, #resume {
    transition: all .4s ease-in-out;
    height: 65%; 
    width: 35%; 
    margin-top: 10%;
}

@media only screen and (min-width: 729px) {
    #p-resume, #resume {
        opacity: 0.6;
    }

    #p-resume:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2); 
        opacity: 1.0;
    }
    
    #resume:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2); 
        opacity: 1.0;
    }
}

@media only screen and (max-width: 425px) {
    #p-resume, #resume {
        margin-top: 30%;
        height: 50%;
    }

    #bio-img, #br0, #br1 {
        display: none;
    }
}

@media only screen and (max-height: 570px) {
    #bio-img, #br0, #br1 {
        display: none;
    }

    p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 618px) {
    #bio-img, #br0, #br1 {
        display: none;
    }
}
