html, body {
    max-width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black;
    position: relative;
}

#bg, #bg1, #bg2, #bg3 {
    animation-duration: 1s;
    -vendor-animation-duration: 1s;
    pointer-events: none; 
}

#bg {
    display: block;
}

#bg1, #bg2, #bg3 {
    display: none;
}


#nameHdr {
    visibility: hidden; 
    position: absolute; 
    left: 38.5%;
    font-family: 'Raleway', sans-serif;
    font-size: 7.5vh;
    color: #a3a2a3;
    animation-duration: 3s;
    -vendor-animation-duration: 3s;
    margin-top: 5px;

}

#descr {
    text-align: center;
    visibility: hidden; 
    position: absolute; 
    top: 6%; 
    left: 37%;
    font-size: 7vh;
    font-family: 'Raleway', sans-serif;
    color: #a3a2a3;
    animation-duration: 3s;
    -vendor-animation-duration: 3s;
}

.descrHdr {
    font-size: 2.5vh;
}

#vidcontainer {
    display: none;
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100vh;
    animation-duration: 0.5s;
    -vendor-animation-duration: 0.5s;
    background-color: black;
  }

#vidcontainer > video {
    display: block;
    position: absolute;
    left: 53.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
}

#wrapper {
    height: 100%; 
    width: 100%;
    background-color: #c9dfd3;
}

* {
    outline: none;
    margin: 0;
    padding: 0;
}
   
.imgbox {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #010101;
}

#indexPage {
    background-color: black;
}

#icon-ctr {
    position: absolute; 
    right: 5%; 
    bottom: 3%;
}
 
.center-fit-home-pics {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding-top: 8%;
}

.center-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#arrows {
    visibility: hidden;
}

.arrowRight {
    position: absolute; 
    right: 1%; 
    bottom: 50%;
    width: 20px;
    height: 20px;
    border-top: 2px solid #a3a2a3;
    border-right: 2px solid #a3a2a3;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 10px;
    border-radius: 15%;
    background-color: transparent; 
    outline: none;
}

.arrowDown {
    position: absolute; 
    right: 50%; 
    bottom: 1%;
    width: 20px;
    height: 20px;
    border-top: 2px solid #a3a2a3;
    border-right: 2px solid #a3a2a3;
    border-left: none;
    border-bottom: none;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin: 10px;
    border-radius: 15%; 
    background-color: transparent; 
    outline: none;
}

.arrowLeft {
    position: absolute; 
    left: 1%; 
    bottom: 50%;
    width: 20px;
    height: 20px;
    border-top: 2px solid #a3a2a3;
    border-right: 2px solid #a3a2a3;
    border-left: none;
    border-bottom: none;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    margin: 10px;
    border-radius: 15%;
    background-color: transparent; 
    outline: none;
}

.arrowUp {
    position: absolute; 
    right: 50%; 
    top: 1%;
    width: 20px;
    height: 20px;
    border-top: 2px solid #a3a2a3;
    border-right: 2px solid #a3a2a3;
    border-left: none;
    border-bottom: none;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    margin: 10px;
    border-radius: 15%;
    background-color: transparent; 
    outline: none;
}

#hdrRight {
    color: #a3a2a3; 
    font-family: 'Raleway', sans-serif;
    position: absolute; 
    right: 3%; 
    bottom: 47%; 
    transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
}

#hdrDown {
    color: #a3a2a3; 
    font-family: 'Raleway', sans-serif;
    position: absolute; 
    right: 50%; 
    bottom: 4%;
}

#hdrLeft {
    color: #a3a2a3;
    font-family: 'Raleway', sans-serif;
    position: absolute; 
    left: 2%; 
    top: 47%; 
    transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
}

@media only screen and (min-width: 769px) {
    .arrowRight:hover {
        border-top: 4px solid rgb(226, 219, 219);
        border-right: 4px solid rgb(226, 219, 219);
    }

    .arrowDown:hover {
        border-top: 4px solid rgb(226, 219, 219);
        border-right: 4px solid rgb(226, 219, 219);
    }

    .arrowLeft:hover {
        border-top: 4px solid rgb(226, 219, 219);
        border-right: 4px solid rgb(226, 219, 219);
    }
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.divider{
    width:10%;
    height:auto;
    display:inline-block;
}

#p-resume, #resume {
    transition: all .4s ease-in-out;
    text-align: center;
    height: 65%; 
    width: 35%; 
    border: solid #a3a2a3 2px;
    margin-top: 17px;
}

#p-hdr {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

#bio-page {
    height: 100%; 
    width: 100%; 
    display: none; 
    position: absolute; 
    top: 7%; 
    background-color: #c9dfd3;
}

#bio-content {
    width: 80%; 
    height: 70%; 
    margin-left: 10%; 
    margin-right: 10%;
}

.page-header {
    margin-top: 0px !important; 
    margin-bottom: 10px !important; 
    border-bottom: solid #a3a2a3 !important;
}

#bio-hdr {
    margin-bottom: 0px !important; 
    margin-top: 0px !important; 
    font-family: 'Raleway', sans-serif;
}

#bio-img {
    width: 30%;
    float: left; 
    border-radius: 3%;
    margin-right: 2%; 
    margin-bottom: 1%;
}

#bio-words {
    text-align: left; 
    color:black; 
    font-family: 'Raleway', sans-serif;
    float: right;
    font-size: 3.0vh;
}

@media only screen and (min-width: 729px) {
    #p-resume, #resume {
        opacity: 0.7;
    }

    #p-resume:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        opacity: 1.0;
    }
    
    #resume:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        opacity: 1.0;
    }
}

@media only screen and (max-width: 600px) {
    #p-resume, #resume {
        width: 70%;
        height: 38%;
    }

    .divider {
        display: none;
    }

    #bio-img, #br0, #br1 {
        display: none;
    }

    #p-hdr, #p-hdrLow {
        font-size: 15px;
        margin-bottom: 0px !important; 
    }

    .descrHdr {
        font-size: 1.7vh;
    }

    #descr {
        top: 1%; 
        left: 23%;
    }

    #nameHdr {
        left: 25%;
        font-size: 5.5vh;
    }
}

@media only screen 
    and (max-width: 425px) 
    and (orientation: portrait) {
    #bio-words {
        font-size: 2.1vh;
    }
}

@media only screen and (max-height: 570px) {
    #bio-img, #br0, #br1 {
        display: none;
    }

    p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 618px) {
    #bio-img, #br0, #br1 {
        display: none;
    }
}

@media only screen
    and (max-width: 824px)
    and (orientation: landscape) {
    #hdrLeft {
        left: 1.5%;
        bottom: 48.5%;  
    }
 
    #hdrUp {
        top: 5%;
    }
 
    #hdrDown {
        bottom: 5%;
    }
 
    #hdrRight {
        right: 3%;
        top: 47%;
    }
 
    #bio-words {
        font-size: 3.23vh;
    }

    #vidcontainer > video {
        left: 56%;
    }

    .descrHdr {
        font-size: 2vh;
    }

    #descr {
        top: 4%; 
        left: 36.5%;
    }

    #nameHdr {
        left: 35%;
    }
}

@media only screen
    and (max-width: 321px)
    and (orientation: portrait) {
        #hdrLeft {
            left: 3%;
            bottom: 48%;  
        }

        #hdrRight {
            right: 5%;
            top: 47%;
        }

        #nameHdr {
            left: 28%;
            font-size: 3.5vh;
        }

        #vidcontainer > video {
            left: 60%;
        }

        .descrHdr {
            font-size: 2vh;
        }
    
        #descr {
            top: 2.5%; 
            left: 8.5%;
        }
}

@media only screen
    and (min-width: 321px)
    and (max-width: 415px)
    and (orientation: portrait) {
    #hdrLeft {
        left: 3%;
        bottom: 48%;  
    }
 
    #hdrDown {
        bottom: 4%;
    }
 
    #hdrRight {
        right: 5%;
        top: 47%;
    }

    #nameHdr {
        left: 24%;
        font-size: 4.5vh;
    }

    .descrHdr {
        font-size: 1.8vh;
    }

    #descr {
        top: 1%; 
        left: 14%;
    }

    #vidcontainer > video {
        left: 58%;
    }

    .center-fit-home-pics {
        padding-top: 12%;
    }
}

@media only screen 
    and (min-width: 768px) 
    and (max-width: 1025px) 
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
    #hdrLeft {
        left: 5%;
        bottom: 47.5%;  
    }
 
    #hdrDown {
        bottom: 3%;
    }
 
    #hdrRight {
        right: 5.5%;
        top: 47%;
    }
 
    #bio-words {
        font-size: 2.3vh;
    }  
 
    #bio-img {
        margin-bottom: 0%;
    }
 
    #p-resume, #resume {
        width: 43%;
    }

    #vidcontainer > video {
        left: 55%;
    }

    .descrHdr {
        font-size: 1.5vh;
    }

    #descr {
        top: 0%; 
        left: 22%;
    }

    #nameHdr {
        font-size: 5vh;
        left: 24%;
    }
}

@media only screen 
    and (min-width: 768px) 
    and (max-width: 1367px) 
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
    #hdrLeft {
        left: 1%;
        bottom: 47.5%;  
    }
 
    #hdrDown {
        bottom: 5%;
    }
 
    #hdrRight {
        right: 4%;
        top: 47%;
    }
 
    #bio-img {
        margin-bottom: 0%;
    }
 
    #p-resume, #resume {
        width: 43%;
    }

    #vidcontainer > video {
        left: 54.5%;
    }

    .descrHdr {
        font-size: 2.2vh;
    }

    #descr {
        top: 1%; 
        left: 30%;
    }

    #nameHdr {
        font-size: 5vh;
        margin-top: 5px;
        left: 37%;
    }
}

/* Desktop dimensions */
@media only screen 
    and (min-width: 1384px) {
        #hdrLeft {
            left: 2%;
            bottom: 47.5%;  
        }
        
        #hdrRight {
            right: 1%;
            top: 47%;
        }

        .center-fit {
            max-width: 100%;
            height: 100%;
            margin: auto;
        }

        #p-resume, #resume {
            margin-top: 60px;
            width: 40%;
        }
}

@media only screen 
    and (min-width: 1500px) {
        #hdrRight {
            right: 2%;
        }
    }
